/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Castoro:ital@0;1&family=Nata+Sans:wght@100..900&display=swap");
/*

 font-family: "Castoro", serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Castoro Titling", serif;
  font-weight: 400;
  font-style: normal;

   font-family: "Nata Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
*/
:root {
  --fonte-subtitulo: "Castoro", sans-serif;
  --fonte-titulo: "Castoro Titling", sans-serif;
  --fonte-corpo: "Nata Sans", sans-serif;
}

/* Definir cores tema Dark */
:root,
:root[data-theme="dark"] {
  --cor-fundo: #504d4d;
  --cor-texto: #ffffff;

  --cor-icone: orange;
  --cor-icon-mobile: #fff;

  --cor-link: gray;
  --cor-hover: ;
  --cor-borda: #fff;
  --cor-header: black;
}

/* Definir cores tema Light */

:root[data-theme="light"] {
  --cor-fundo: #ffffff;
  --cor-texto: #313030;

  --cor-icone: rgb(114, 114, 240);
  --cor-icon-mobile: black;

  --cor-link: lightgray;
  --cor-hover: black;
  --cor-borda: #000;
  --cor-header: rgb(252, 252, 209);
}

html[data-theme="light"] .logo {
  filter: invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cor-fundo);
  /* Cor Fundo */
  color: var(--cor-texto);
  /*cor Texto */
  /* font-family: ; */
}

a {
  text-decoration: none;
  color: var(--cor-link);
}

ul {
  list-style: none;
}

h1 {
  font-weight: 900; /* espessura da fonte */
  font-size: 5, 10rem;
}

h1,
h2,
h3 {
  font-family: var(--fonte-titulo);
  text-transform: uppercase;
  color: var(--cor-titulo);
  font-weight: 100;
}

strong {
  font-weight: 800;
  /* color: var(); */
}

P,
span,
li {
  font-size: 1rem;
}

#header {
  /* ID = # */
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--cor-header);
  padding: 1rem 1rem;
  z-index: 100;
  position: fixed;
  border-bottom: 2px solid var(--cor-borda);
}

.menu-desktop {
  display: none;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-link.active .menu-texto,
.menu-link:hover .menu-texto {
  color: var(--cor-hover);
}
.social-icon {
  color: var(--cor-texto);
  font-size: 1, 5rem;
}

.menu-texto {
  color: var(--cor-texto);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: var(--fonte-corpo, sans-serif);
  text-rendering: optimizeLegibility;
}

.logo {
  width: 3.25rem;
  height: 1.89rem;
}

.header-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#toggleTheme {
  cursor: pointer;
  color: var(--cor-icone);
  font-size: 2rem;
  /* tamanhoda fonte */
  transition: all 0.3s ease-in-out;
}

/* menu mobile */

#menuMobile {
  margin-left: 1rem;
}

.btn-menu-mobile {
  background: transparent;
  color: var(--cor-icon-mobile);
  border: none;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-left: 1rem;
}

/* Menu mobile (estilo e animação) */

.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--cor-header);
  z-index: 50;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  height: 100vh;
  /* VH = viewport height */
  width: 35%;
  /* VW = viewport widht */
  transition: transform 0.3s ease-in-out;
}

.menu-mobile.active {
  transform: translateX(0%);
}

menu-mobile .menu-list {
  width: 100%;
  text-align: center;
}

.menu-mobile .menu-link {
  display: inline-block;
  font-size: 1rem;
  padding: 0.3rem 0;
}

#home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-content .video {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  width: 70%;
  aspect-ratio: 16/9;
}

#home,
.projetos,
.sobre,
.contato {
  padding: 2.5rem 1rem;
}

/* medidas responsivas */
@media (max-width: 768px) {
  #home {
    padding-top: 6rem;
  }
}

@media (min-width: 768px) {
  /* A partir de 780px ao infinito */

  .menu-desktop {
    display: flex;
    /* flexbox */
    min-width: 30%;
  }

  .header-toggle {
    min-width: 30%;
  }

  .btn-menu-mobile {
    display: none;
  }
}
#home {
  padding-top: 6rem;
}

#home,
.projetos .sobre {
  padding: 8rem 6rem 4rem 6rem;
}

@media (min-width: 1200px) {
  #home {
    padding: 6rem 6rem 2rem;
  }
}
