* {
  margin: 0;
  padding: 0;
}

body {
  background: #504d4d; /* Cor Fundo */
  color: #ffffff; /*cor Texto */
  font-family: ;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#header {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(24, 26, 26);
  padding: 3rem 5rem;
}
